@tailwind base;
@tailwind components;
@tailwind utilities;

#Search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#hero {
  background: url("https://images.unsplash.com/photo-1516211697506-8360dbcfe9a4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#product-image {
  height: calc(100% - 7.5rem)
}